# LLVM PATH
LLVM9HOME=/u/ziyangx/llvm-workspace-9
export LLVM_SRC_ROOT=$LLVM9HOME/llvm/

export LLVM_OBJ_DIR=$LLVM9HOME/llvm-objects-release/
export LLVM_INSTALL_DIR=$LLVM9HOME/llvm-install-release/

# CPF PATH
export LIBERTY_SRC_DIR=$HOME/cpf-9/liberty/
export LIBERTY_OBJ_DIR=$HOME/cpf-9/llvm-liberty-objects-cmake/
export LIBERTY_SMTX_DIR=$LIBERTY_SRC_DIR/support/smtx/
export LIBERTY_INCLUDE_DIR=$LIBERTY_SRC_DIR/include/

export LIBERTY_LIBS_DIR=$LIBERTY_OBJ_DIR/Debug/lib/
# export LIBERTY_LIBS_DIR=$LIBERTY_OBJ_DIR/Release+Debug+Asserts/lib/
# export LIBERTY_LIBS_DIR=$LIBERTY_OBJ_DIR/Debug+Asserts/lib/

# CPF BENCHMARK PATH
export CPF_ROOT=$HOME/CPF_Benchmarks/

# NOELLE PATH
#export NOELLE_INSTALL_DIR=/u/sa8/CAT/
export NOELLE_INSTALL_DIR=/u/ziyangx/noelle/install/
export NOELLE_LIBS_DIR=$NOELLE_INSTALL_DIR/lib/
# export NOELLE_LIBS_DIR=/u/ziyangx/noelle/install-debug/lib/
# export NOELLE_LIBS_DIR=/u/sa8/CAT/lib

# PATH & LD_LIBRARY_PATH
export PATH=$LLVM_INSTALL_DIR/bin:$CPF_ROOT/scripts/:$PATH
export LD_LIBRARY_PATH=$LLVM_INSTALL_DIR/lib:$LIBERTY_LIBS_DIR:$LD_LIBRARY_PATH:$NOELLE_LIBS_DIR
