CompileFlags:                     # Tweak the parse settings
  Add: [-Wold-style-cast, -Wunused-variable, -Wsigned-compare]                   # treat all files as C++, enable more warnings
Diagnostics:
  ClangTidy:
    Add: bugprone-*
